/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*Loader*/
.preloader img:last-of-type {  top: 400px;}
.preloader img:first-of-type {
    top: -417px;
}
.preloader img {
    position: absolute;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
}
.preloader {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background: #58d6a3;
}
/*Loader*/


html {
    color: #222;
    font-size: 1em;
    font-family: 'Raleway', Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.4;
    background-color: #2f2f2f;background: rgb(193, 241, 231);
}

body {
    margin: 0;
    min-width: 260px; /* See ie.css for fallback */
}
a{
        text-decoration: none;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width: 385px;
    width: 96%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 47.5em) {
    .wrapper { /* See ie.css for fallback */
        max-width: 1160px;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    width: 100%;
    max-width : 100%; /* See ie.css for fallback */
    height: auto !important;
    border-width : 0;
    vertical-align : middle;
    -ms-interpolation-mode : bicubic;
}

/* Icons */

[class^="icon--"] {
    text-indent: 300%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
}

.icon--search {
    width: 16px;
    height: 16px;
    padding: 0 0.5em;
    background-size: 16px 16px;
    background-image: url('../images/icon-mag-glass.svg');
}


@media (max-width: 47.4em) {
    .icon--down-arrow {
        vertical-align: bottom;
        width: 8px;
        height: 8px;
        margin-top: 0.25em;
        padding: 0 0.4em;
        background-size: 8px 16px;
        background-image: url('../img/icons/svg/down-arrow.svg');
    }

    .no-svg .icon--down-arrow {
        background-image: url('../img/icons/png/down-arrow.png');
    }
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   LP styles
   ========================================================================== */

/*  Typography
========================================================================== */

h1,
h2,
h3,
h4,
p,
ol,
ul,
dl {
    margin-top: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {

}

h1{
    margin: 0.40em 0;
}

h1, .h1 {
    font-size: 20px;
}

@media (min-width: 47.5em) {
    h1, .h1 {
        font-size: 35px;
    }
}


@media (min-width: 62.5em) {
    h1, .h1 { /* See ie.css for fallback */
        font-size: 44px;
    }
}

/*  Global styling
========================================================================== */

/* =brand-color */

.brand-color {
    color: #58d6a3;
}

.brand-bgcolor {
    background-color: #58d6a3;
}


/*  Header styling
========================================================================== */

.header {
    background: #222;
}
.header__in {
    max-width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 15px;
     padding-top: 5px;
}
.header__logo {
    color: #fff;
    font-size: 30px;
}

/*  Main styling
========================================================================== */

.content {
    background-color: #fefeff;
    background-repeat: no-repeat;
    background-size: cover;    background-color: #fefeff;
    background: rgb(193, 241, 231);
}
.content__in {
    margin: 0 auto;
    width: 1120px;
    padding-top: 15px;
}
.content__title {
    text-align: center;
    color: #1c99e9;
    font-size: 40px;
    position: relative;
    vertical-align: middle;
    line-height: 41px;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.content__title:before {
    content: url("../images/logo.png");
    display: inline-block;
    vertical-align: middle;
    margin-top: -28px;
    margin-right: 12px;
}
.content__tagline {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 27px;
    padding-top: 0;
    padding-bottom: 10px;
}
.content__tagline:after {
    content: url("../images/arrow.png");
    position: absolute;
    right: 140px;
    bottom: -40px;
}
.content__container {
    overflow: hidden;
}
.content__image {
    float: left;
}
.content__form-step1 {
    float: right;
    background: #fff;
    border-radius: 10px;
    border: 10px solid #d1d3fb;
    width: 435px;
    overflow: hidden;
}
.form__header {
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
    font-size: 37px;
    color: #1c99e9;
    font-weight: bold;
}
.form__tagline {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.form__list {
    margin: 0;
    padding: 0;
}
.form__item {
    display: inline-block;
    width: 200px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.form__item label {
    display: inline-block;
    vertical-align: top;
    color: #000;
}
.form__item label:before {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e4e3e3;
    content: "";
}
.form__item input#item2 + label:before {
    background: #f0e0ce;
}
.form__item input#item3 + label:before {
    background: #f0ceec;
}
.form__item input#item4 + label:before {
    background: #797c80;
}
input[type="radio"] {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    border: none;
    width: auto;
    height: auto;
}
.form__button {
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #73C23F !important;
    padding: 15px;
    outline: none;
    text-align: center;
    margin: 0 auto 10px;
    width: 325px;
    display: block;
    font-weight: bold;
    font-size: 25px;
}
.form__button:hover,
.form__button:active {
    background-color: #73C23F !important;
}
.form__button .icon--right-arrow:after {
      content: url("../images/arrow_btn.png");
   }
.content__title-winners {
    font-size: 40px;
    margin: 0;
    padding-bottom: 20px;
    margin-top: -30px;
}
.content__item-win:first-child {
    float: left;
    overflow: hidden;
}
.content__item-win:last-child {
    float: right;
    overflow: hidden;
}
.content__item-win:last-child .content__win-img {
    float: right;
}
.content__item-win:last-child .content__win-text {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.content__win-img {
    float: left;
}
.content__win-text {
    float: right;
    width: 460px;
    padding-left: 10px;
    font-size: 13px;
}
.content__win-signa {
    font-weight: 900;
}
.win__wrapper--custom {
    float: left;
    width: 645px;
    margin-top: 10px;
    padding-left: 20px;
}

@media only screen and (max-width: 1140px) {
    .content__in {
        width: 720px;
    }
    .content__tagline {
        font-size: 23px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .content__tagline:after {
        right: 0;
    }
    .content__form-step1 {
        border: 7px solid #d1d3fb;
        width: 340px;
        padding-bottom: 15px;
    }
    .form__tagline {
        font-size: 17px;
    }
    .form__item {
        display: inline-block;
        width: 150px;
        padding-left: 10px;
        padding-bottom: 15px;
    }
    .form__button {
        width: 260px;
        font-size: 23px;
    }
    .win__wrapper--custom {
        float: left;
        width: 350px;
        margin-top: 15px;
    }
    .content__title-winners {
        margin-top: -40px;
    }
    .content__item-win:first-child,
    .content__item-win:last-child {
        float: none;
    }
    .content__item-win:first-child {
        margin-bottom: 20px;
    }
    .win__wrapper--custom .content__win-text {
        width: 225px;
    }
    .content__win-text {
        width: 620px;
    }
    .content__item-win:last-child .content__win-text {
        padding-right: 20px;
        padding-left: 0;
    }
    #footer-custom {
        width: 730px;
        margin: 0 auto;    display: block;
    }
}
@media only screen and (max-width: 736px) {
    .header__logo {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .content__in {
        width: 300px;
        padding-top: 0;
    }
    
    .content__tagline {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .content__tagline:after {
        display: none;
    }
    .content__image {
        float: none;    margin-bottom: 20px;
    }
    .content__form-step1 {
        border: 1px solid #d1d3fb;
        width: 280px;
        padding-bottom: 15px;
        float: none;
        margin: 15px auto 0;
        border-radius: 0;
    }
    .form__header {
        font-size: 25px;
    }
    .form__item {
        width: 135px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    .form__button {
        width: 225px;
    }
    .content__title-winners {
        display: none;
    }
    .content--win {
        display: none;
    }
    #footer-custom {
        display: block;
    }
    .fotter {
        color: #777;
        padding: 10px;
        padding-top: 20px;
        margin: 0 auto;    position: relative;
    width: 100%;
    }
}


/*form*/

.form__text {
    display: none;
}

@media (max-width: 760px) {
    .form__text {
        display: block;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 15px;
    }
}

.form__block-search {
    position: relative;
}

#secondstage fieldset {
    width: 80%;
    margin: 0 auto 10px;
}

fieldset small {
    color: #565656;
}

fieldset small a {
    color: #565656;
    text-decoration: underline;
}

label {
    color: #a2a2a2;
    display: block;
}

input,
select.title {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="date"],
select,
textarea {
    background: #fff;
    font-size: 1em;
    padding: 12px;
    border: 1px solid #b1afaf;
    color: #b1afaf;
}

@media (max-width: 1160px) {
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="date"],
    select,
    textarea {
        padding: 10px;
    }
}

@media (max-width: 735px) {
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="date"],
    select,
    textarea {
        padding: 7px;
    }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="date"]:focus {
    border-color: #61b5e1;
    -webkit-box-shadow: 0 0 3px #61B5E1;
    box-shadow: 0 0 3px #61B5E1;
}

.form__search[type="submit"],
.form__search[type="submit"]:hover,
.form__search[type="submit"]:active {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 32px;
    margin-top: -16px;
    background-image: url('../img/icons/png/search.png');
    height: 32px;
    border: none;
    background-color: transparent;
}

#postcode {
    z-index: 1;
    position: relative;
}

select.title{
    -webkit-appearance: none;
    background-position: 95% center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
}

select::-ms-expand {
    display: none;
}

.form__block-text {
    margin-bottom: 20px;
}

.form__scope{
    color: #000;
    font-size: 10px;
    line-height: 15px;
    display: block;
}

/*-----------style about checkbox----------*/

input[type="checkbox"] {
    line-height: 2.1ex;
}
.alert-success:not(.form-control) {
    border: 1px solid #29D85F !important;
}
#fulladdress .col-md-4 {
    width: 100%;
    padding: 0;
}
/*form end*/

.headline {
    margin-top: 0.75em;
    margin-right: auto;
    margin-left: auto;
    max-width: 288px;
}

@media (min-width: 37.5em) {
    .headline {
        max-width: 365px
    }
}

@media (min-width: 47.5em) { /* 0x */
    .headline { /* See ie.css for fallback */
        max-width: 100%;
    }
}

@media (max-width: 47.4em) {
    .headline__inner {
        background-color: #FFF;
        padding: 0.75em;
    }
}

.headline h1 {
    font-weight: normal;
    text-align: center;
}

@media (max-width: 47.4em) {
    .headline h1 {
        margin-bottom: 0;
        color: #3E3E3E !important;
    }
}

@media (min-width: 47.5em) {
    .headline h1 { /* See ie.css for fallback */
        color: #000;
        text-align: left;
    }
}

.headline h1 strong {
    font-weight: 800;
}

.brand-identity {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 288px;
}
@media (min-width: 37.5em) {
    .brand-identity {
        max-width: 365px
    }
}

@media (min-width: 47.5em) {
    .brand-identity { /* See ie.css for fallback */
        margin-bottom: 1.5em;
        float: left;
        margin-right: 3%;
        width: 27%;
        max-width: 150px;
    }
}

.subtext {
    display: none;
    visibility: hidden;
    color: #000;
    font-weight: 300;
}

@media (min-width: 47.5em) {
    .subtext {
        display: block;
        visibility: visible;
        font-size: 16px;
        line-height: 21px;
        width: 70%;
        float: left;
    }
}
@media (min-width: 62.5em) {
    .subtext {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width: 47.5em) {
    .primary-info-area {
        float: right;
        width: 48%;
    }
}

@media (min-width: 56.25em) {
    .primary-info-area {
        width: 55%;
    }
}

@media (min-width: 68.75em) {
    .primary-info-area { /* See ie.css for fallback */
        width: 62%;
    }
}

/*  Form styling
========================================================================== */

/* Form Validation */

.field-error__validation-message {
    color: #e30000;
    display: none;
    visibility: visible;
}

.field-error .field-error__validation-message {
    visibility: hidden;
    display: block;
    color: #e30000;
    font-size: 14px;
}

.form-area__body .alert-error {
    border: 1px solid #e30000;
}

/*Submit button*/

.preloader2 {
    width:100%;
    height: 81.75px;
    display:none;
    position: absolute;
    background: #fff;
    top:0;left:0;

}
#loader {
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: inline-block;
}



/*  Footer styling
========================================================================== */

#footer-custom {
    background: transparent;
    width: 100%;
    min-height: 80px;
    color: #777;
    text-align: center;
    display:block;
    font-family: Arial;
}

#footer-custom a {
    color: #777;
}

.fotter {
    padding: 10%;
    padding-top: 50px;  font-size: 1em;
    padding-bottom: 20px;    font-size: 12px;
}

@media only screen and (max-width: 736px) {
    #footer-custom {
        display: block;
    }
    .fotter {
        padding: 10px;
        padding-top: 20px;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
#sendlead .fifty-fifty-fieldset {
    display: inline-block;
    width: 39.5%;
    margin-right: 0px;
    margin-left: 40px;
    float: none;
}

@media (max-width: 1140px) {
    #sendlead .fifty-fifty-fieldset {
        margin-left: 32px;
    }
}

@media (max-width: 735px) {
    #sendlead .fifty-fifty-fieldset {
        margin-left: 27px;
    }
}

#sendlead .fifty-fifty-fieldset.last {
    margin-right: 0;
    margin-left: 0;
}

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `cf` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* ==========================================================================
   Modal Window
   ========================================================================== */

.modal-backdrop
{
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;

    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;

    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 800ms;
    -o-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    animation-duration: 800ms;


    background: #000;
    background: rgba(0,0,0,0.8);
    background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.75) 100%);
    background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.75) 100%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.75) 100%);
    background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.50) 1%, rgba(0,0,0,0.75) 100%);


}

.modal-backdrop.in
{
    -webkit-animation-duration: 500ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-name: fadein;
    -moz-animation-duration: 800ms;
    -moz-animation-timing-function: ease;
    -moz-animation-name: fadein;
    -o-animation-duration: 500ms;
    -o-animation-timing-function: ease;
    -o-animation-name: fadein;
    -ms-animation-duration: 500ms;
    -ms-animation-timing-function: ease;
    -ms-animation-name: fadein;
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: fadein;
    opacity: 1;
}
.modal
{

    box-shadow: 0px 0px 8px #444;
    -moz-box-shadow: 0px 0px 8px #444;
    -webkit-box-shadow: 0px 0px 8px #444;
    position: fixed;
}
.modal
{
    transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
    -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.4s ease 0s;
    -moz-transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
    -webkit-transform: scale(.95);
    transform: scale(.92);
    opacity: 0;
    display:none;
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 600ms;
    -o-animation-duration: 400ms;
    -ms-animation-duration: 400ms;
    animation-duration: 600ms;

}
.modal, .form_ul li.show, .form_ul li.artificial
{
    -webkit-animation-duration: 600ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-name: appear;
    -moz-animation-duration: 600ms;
    -moz-animation-timing-function: ease;
    -moz-animation-name: appear;
    -o-animation-duration: 600ms;
    -o-animation-timing-function: ease;
    -o-animation-name: appear;
    -ms-animation-duration: 600ms;
    -ms-animation-timing-function: ease;
    -ms-animation-name: appear;
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: appear;
}
.modal
{

    box-shadow: 0px 0px 8px #444;
    -moz-box-shadow: 0px 0px 8px #444;
    -webkit-box-shadow: 0px 0px 8px #444;
    position: fixed;
}
.modal
{
    transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
    -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.4s ease 0s;
    -moz-transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
    -webkit-transform: scale(.95);
    transform: scale(.92);
    opacity: 0;
    display:none;
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 600ms;
    -o-animation-duration: 400ms;
    -ms-animation-duration: 400ms;
    animation-duration: 600ms;

}
.modal.in,
.modal-backdrop.in
{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.modal
{
    box-shadow: none !Important;
    background-color: none;
    width: auto !important;
    overflow-y: auto;
    max-height: 80%;
    overflow-x: hidden;
}
.modal{ width: 50% !Important; background-color: inherit; border: none; top:0;left:0;right:0;bottom:0; margin:auto !important;z-index:1050;margin-left:-220px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}

//.modal.in{top:10%;}

.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;line-height:30px;}
.modal-body, .modal-content{position:relative;overflow-y:auto;max-height:400px;padding:15px; width: 99.9%;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}
.modal_close{
    position: absolute;
    top: 7px;
    right: 7px;
    background: inherit;
    border: none;
    font-size: 22px;
    height: 28px;
    width: 28px;
    font-weight: bold;
    line-height: 28px;
    padding: 0px;
    z-index: 1001;
    color: #444 !important;
    opacity: .4 !important;
}
@media (max-width: 700px) {
    body .modal {
        width: 90% !Important;
    }
}
.modal-dialog {
    background-color: #FFF;
    text-align: left;
}
.modal_close:hover, .modal_close:active
{
    background: inherit;
    opacity: .7 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#searchpostcode {
    border: 1px solid #B1AFAF !important;
    background: #fff;
}
.input-with-icon button {
    width: 15%;
    height: 42px;
    margin-left: 3%;
    -webkit-appearance: none;
}
#fulladdress .form-group {
    margin-bottom: 0;
}
#fulladdress .form-control {
    height: auto;
}
#addressmx {
    width: 100% !important;
    margin: 0;
    color: #3C763D !important;
    padding-left: 8px !important;
}
